exp01/output/checkpoint-7600/optimizer.pt
exp01/output/checkpoint-7600/pytorch_model.bin
exp01/output/checkpoint-7800/optimizer.pt
exp01/output/checkpoint-7800/pytorch_model.bin
exp01/output/checkpoint-8000/optimizer.pt
exp01/output/checkpoint-8000/pytorch_model.bin
exp02/output/checkpoint-4200/optimizer.pt
exp02/output/checkpoint-4200/pytorch_model.bin
exp02/output/checkpoint-4400/optimizer.pt
exp02/output/checkpoint-4400/pytorch_model.bin
exp02/output/checkpoint-7800/optimizer.pt
exp02/output/checkpoint-7800/pytorch_model.bin
exp02/output/checkpoint-8000/optimizer.pt
exp02/output/checkpoint-8000/pytorch_model.bin
exp03/output/checkpoint-5600/optimizer.pt
exp03/output/checkpoint-5600/pytorch_model.bin
exp03/output/checkpoint-7800/optimizer.pt
exp03/output/checkpoint-7800/pytorch_model.bin
exp03/output/checkpoint-8000/optimizer.pt
exp03/output/checkpoint-8000/pytorch_model.bin
exp04/output/checkpoint-6000/optimizer.pt
exp04/output/checkpoint-6000/pytorch_model.bin
exp04/output/checkpoint-7800/optimizer.pt
exp04/output/checkpoint-7800/pytorch_model.bin
exp04/output/checkpoint-8000/optimizer.pt
exp04/output/checkpoint-8000/pytorch_model.bin
exp05/output/checkpoint-15000/optimizer.pt
exp05/output/checkpoint-15000/pytorch_model.bin
exp05/output/checkpoint-15800/optimizer.pt
exp05/output/checkpoint-15800/pytorch_model.bin
exp05/output/checkpoint-16000/optimizer.pt
exp05/output/checkpoint-16000/pytorch_model.bin
exp06/gencode.v46.annotation.gtf.feather
exp06/output/checkpoint-1000/optimizer.pt
exp06/output/checkpoint-1000/pytorch_model.bin
exp06/output/checkpoint-600/optimizer.pt
exp06/output/checkpoint-600/pytorch_model.bin
exp06/output/checkpoint-800/optimizer.pt
exp06/output/checkpoint-800/pytorch_model.bin
exp07/output/checkpoint-3600/optimizer.pt
exp07/output/checkpoint-3600/pytorch_model.bin
exp07/output/checkpoint-8200/optimizer.pt
exp07/output/checkpoint-8200/pytorch_model.bin
exp07/output/checkpoint-8400/optimizer.pt
exp07/output/checkpoint-8400/pytorch_model.bin
exp08/output/checkpoint-16800/optimizer.pt
exp08/output/checkpoint-16800/pytorch_model.bin
exp08/output/checkpoint-17000/optimizer.pt
exp08/output/checkpoint-17000/pytorch_model.bin
exp08/output/checkpoint-7400/optimizer.pt
exp08/output/checkpoint-7400/pytorch_model.bin
exp09/gencode.v46.annotation.gtf.feather
exp09/output/checkpoint-200/optimizer.pt
exp09/output/checkpoint-200/pytorch_model.bin
exp09/output/checkpoint-400/optimizer.pt
exp09/output/checkpoint-400/pytorch_model.bin
exp09/output/checkpoint-600/optimizer.pt
exp09/output/checkpoint-600/pytorch_model.bin
exp10/gencode.v46.annotation.gtf.feather
exp10/output/checkpoint-1200/optimizer.pt
exp10/output/checkpoint-1200/pytorch_model.bin
exp10/output/checkpoint-1400/optimizer.pt
exp10/output/checkpoint-1400/pytorch_model.bin
exp10/output/checkpoint-200/optimizer.pt
exp10/output/checkpoint-200/pytorch_model.bin
exp11/gencode.v46.annotation.gtf.feather
exp11/output/checkpoint-200/optimizer.pt
exp11/output/checkpoint-200/pytorch_model.bin
exp11/output/checkpoint-400/optimizer.pt
exp11/output/checkpoint-400/pytorch_model.bin
exp11/output/checkpoint-600/optimizer.pt
exp11/output/checkpoint-600/pytorch_model.bin
exp12/gencode.v46.annotation.gtf.feather
exp12/output/checkpoint-200/optimizer.pt
exp12/output/checkpoint-200/pytorch_model.bin
exp12/output/checkpoint-400/optimizer.pt
exp12/output/checkpoint-400/pytorch_model.bin
exp12/output/checkpoint-600/optimizer.pt
exp12/output/checkpoint-600/pytorch_model.bin
exp13/hetSNVs_thoracic_aorta_TF-ChIP-seq_CTCF.fa
exp13/output/checkpoint-26000/optimizer.pt
exp13/output/checkpoint-26000/pytorch_model.bin
exp13/output/checkpoint-26200/optimizer.pt
exp13/output/checkpoint-26200/pytorch_model.bin
exp13/output/checkpoint-3000/optimizer.pt
exp13/output/checkpoint-3000/pytorch_model.bin
exp14/gencode.v46.annotation.gtf.feather
exp14/output/checkpoint-3000/optimizer.pt
exp14/output/checkpoint-3000/pytorch_model.bin
exp14/output/checkpoint-3200/optimizer.pt
exp14/output/checkpoint-3200/pytorch_model.bin
exp14/output/checkpoint-3400/optimizer.pt
exp14/output/checkpoint-3400/pytorch_model.bin
